@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/FiraMono-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~assets/fonts/FiraMono-Bold.ttf") format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Code", sans-serif;
}

html,body {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  min-width: 320px;
  background: #74ebd5;
  background: linear-gradient(90deg,#acb6e55e,#74ebd573);
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
}